@import url("https://fonts.googleapis.com/css2?family=Stylish&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Stylish&display=swap");

body {
  background: url(./image/maxresdefault.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  position: relative;
  height: 100vh;
}
h1 {
  font-size: 5rem;
  margin-bottom: 60px;
}
.option {
  font-family: "Stylish", sans-serif;
  position: absolute;
  top: 10%;
  left: 10%;
  text-align: center;
  font-size: 2rem;
}
.option p:hover {
  color: rgb(247, 237, 52);
  cursor: pointer;
  transform: scale(1.2);
  transition: 0.5s;
}
.content {
  position: absolute;
  top: 30%;
  right: 2%;
  width: 50%;
  font-size: 1.2rem;
  font-family: "Stylish", sans-serif;
}
.content1 {
  position: absolute;
  top: 30%;
  right: 4%;
  width: 48%;
  font-size: 1.2rem;
  font-family: "Stylish", sans-serif;
}
.content2 {
  position: absolute;
  top: 29%;
  right: 2%;
  width: 50%;
  font-size: 1.5rem;
  font-family: "Stylish", sans-serif;
}
#계기 {
  line-height: 35px;
  display: none;
  padding: 10px 0px;
  animation: show 0.4s ease-in-out;
  width: 617px;
  height: 405px;
}
#이유 {
  line-height: 35px;
  display: none;
  padding: 10px 0px;
  animation: show 0.4s ease-in-out;
  width: 593px;
  height: 345px;
}
#정보 {
  display: none;
  animation: show 0.4s ease-in-out;
}
.sum {
  display: flex;
}
i {
  font-size: 40px;
}
.content p {
  padding: 0 0 5px 0;
  text-align: left;
  margin: 0;
}
.each1 {
  display: flex;
  cursor: pointer;
  width: 50%;
  align-items: center;
}
.each1:hover {
  transform: scale(1.1);
  transition: 1s;
}
.contents {
  margin-left: 20px;
}
.contents p {
  margin-bottom: 5px;
}
#red {
  color: rgb(255, 0, 0, 0.8);
}
#blue {
  color: rgb(195, 227, 241);
}
#box {
  display: none;
}
#이유 {
  display: none;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
